@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    background: url(../img/fundo-madeira.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 579px;
    width: 279px;
    background-image: url(../img/frame-iphone.png);
    background-repeat: no-repeat;
    z-index: 1;

}

iframe#tela {
    position: relative;
    top: 18px;
    left: 18px;
    width: 244px;
    height: 528px;
    border-radius: 26px;

}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: transform .3s;
}